<div class="page-width template-my-account-custom">
  <div class="section-header text-center">
    <h1>{{ 'customer.account.title' | t }}</h1>
    <div class="sub-title-account text-center">
		{{'customer.account.sub-title' | t}}
    </div>
  </div>

  <div class="grid myaccount">
    <div class="grid__item myaccount__account-details">
      <h3 style="font-size:18px; font-weight: 600;">{{ 'customer.account.details' | t }}</h3>

      <div style="margin-bottom: 24px">{{ customer.default_address | format_address }}</div>

      <p><a href="{{ routes.account_addresses_url }}" class="btn btn--small">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
      </p>
      <p class="link-custom"> {{ 'layout.customer.log_out' | t | customer_logout_link }}</p>
      
    </div>
    <div class="grid__item myaccount__order-history">
      <h3 class="text-center" style="font-size:18px;font-weight: 600;">{{ 'customer.orders.title' | t }}</h3>

      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}

          <table class="responsive-table">
            <thead>
              <tr>
                <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
                <th scope="col">{{ 'customer.orders.date' | t }}</th>
                <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                    <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
                  </th>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                  <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                  <td data-label="{{ 'customer.orders.total' | t }}">
                    {%- if settings.currency_code_enabled -%}
                      {{ order.total_price | money_with_currency }}
                    {%- else -%}
                      {{ order.total_price | money }}
                    {%- endif -%}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        {% else %}

          <p class="text-center" style="font-size: 14px">{{ 'customer.orders.none' | t }}</p>

        {% endif %}
        {%- if paginate.pages > 1 -%}
          {% include 'pagination', paginate: paginate %}
        {%- endif -%}
      {% endpaginate %}
    </div>
  </div>
</div>
